/*
* @Author: Lenovo
* @Date:   2018-08-25 20:48:33
* @Last Modified by:   Lenovo
* @Last Modified time: 2018-09-16 11:42:33
*/
/*顶部导航开始*/

nav{
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	background: #fff;
	box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
}
nav .con{
	height: 60px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: relative;
}
nav .con .pic{
	height: 50px;
	width: 168px;
	margin-top: 5px;
}
nav .con .list{
	height: 60px;
	width: 524px;
	display: none;
}
nav .con .list ul li{
	float: left;
	height: 60px;
	width: 56px;
	margin-right: 15px;
	text-align: center;
	line-height: 60px;
	color: #000;
	cursor: pointer;
}
nav .con .list ul li:nth-child(7){
	margin-right: 0;
}
nav .con .list a{
	color: #8f8f8f;
	text-decoration: none;
}
nav .con .list ul .list-item{
	border-top:2px solid #000;
}
nav .con .list ul .shouye{
	color: #000;
}
nav .con .list ul .list-item1{
	border-top:2px solid #fff;
}
nav .con .list ul .item{
	height: 60px;
	/* width: 70px; */
	color: #8f8f8f;
	border-top:2px solid #fff;
}
nav .con .list ul li:hover a,span{
	color: #000;
}
nav .con .list ul li:hover{
	border-top:2px solid #000;
}
nav .con .list ul .change{
	height: 60px;
	width: 71px;
	border-top: 2px solid #000;
}
nav .button{
	height: 66px;
	width: 43px;
}
nav .button .line{
	height: 20px;
	width: 31px;
	margin:0 auto;
	margin-top: 23px;
	background-image: url(../img/nav2.png);
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
nav .button .line .son{
	width: 100%;
	height: 375px;
	background: #fff;
	position: absolute;
	top:60px;
	left: 0;
	padding: 20px;
	display: none;
	border-radius: 4px;
}
nav .button .line .son ul li{
	padding: 10px 15px;
	margin-top: 3px;
	/* border-top: 2px solid #000; */
}
nav .button .line .son ul li a{
	text-decoration: none;
	color: #999;
	font-size: 16px;
}
nav .button .line .son ul li:hover a{
	color: #000;
}








/*顶部导航结束*/

/*banner开始*/
.swiper-container {
    width: 100%;
    /* height: 495px; */
} 
.swiper-container img{
	width: 100%;
	margin-top: 60px;	
	background: yellow;
} 
.banner img{
	width: 100%;
	margin-top: 60px;	
	background: yellow;
}
.banner{
	height: 100%;
	width: 100%;
	position: relative;
}
.banner .box{
	display: none;
}
/*左箭头*/
.banner .leftbox{
	height: 40px;
	width: 40px;
	background: rgba(0,0,0,0.6);
	position: absolute;
	top:50%;
	left:20px;
	display: none;
}
.banner:hover .leftbox{
	display: inline;
}
.banner .leftbox .left a{
	color: rgba(255,255,255,0.6);
	text-decoration: none;
}
.banner .leftbox .left{
	font-size: 22px;
	text-align: center;
	margin-top: 2px;
}
.banner .leftbox:hover{
	background: #000;
}
.banner .leftbox:hover a{
	color: #fff;
}

/*右箭头*/
.banner .rightbox{
	height: 40px;
	width: 40px;
	background: rgba(0,0,0,0.6);
	position: absolute;
	top:50%;
	right:20px;
	display: none;
}
.banner .rightbox .right a{
	color: rgba(255,255,255,0.6);
	text-decoration: none;
}
.banner .rightbox .right{
	font-size: 22px;
	text-align: center;
	margin-top: 2px;
}
.banner:hover .rightbox{
	display: inline;
}
.banner .rightbox:hover{
	background: #000;
}
.banner .rightbox:hover a{
	color: #fff;
}



/*banner结束*/


/*服务范围开始*/
.server{
	padding: 70px;
	background: #F5F5F5;
	position: relative;
}
.server .head .title{
	margin:0;
	color: #000000; 
	text-align: center;
}
.server .head .subtitle{
	margin-top: 0; 
	color: #999999;
	text-align: center;
}
.server .head .desc{
	margin-top: 0; 
	color: #999999;
	text-align: center;
}


.server .row{
}
.server ul .left{
	position: absolute;
	top:48%;
	left: 40px;
	height: 41px;
	width: 30px;
	text-align: center;
	line-height: 41px;
	color:#999;

}
.server ul .right img{
	height: 30px;
	width: 30px;
}
.server ul .right{
	position: absolute;
	top:50%; 
	right: 40px;
	height: 41px;
	width: 30px;
	text-align: center;
	line-height: 41px;
	color:#999;

}
.server ul .left img{
	height: 30px;
	width: 30px;
}




.srever ul .right{
	position: absolute;
	top:50%;
	right: 0;

}
.server ul li{
	float: left;
}
.server ul li:hover h4{
	border-bottom: 1px solid #000;
}
.server ul li a{
	text-decoration: none;
}
.server ul li img{
	margin: 0 auto; 
	max-width: 100%;
}
.server ul li h4{
	font-size: 16px; 
	height: 46px; 
	line-height: 46px; 
	color: #000;
	border-bottom: 1px solid #e1e1e1; 
	text-align: left; width: 100%; 
}
.server ul li p{
	height: 50px; 
	overflow: hidden; 
	width: 100%; 
	margin-top: 10px;
	font-size: 13px;
	color: #999;
	line-height: 24px;

}
.server ul .list1,.list2{
	display: none;
}






/*服务范围结束*/

/*项目案例开始*/
.project{
	padding: 70px;
}
 
/* .project .con{
	height: 100%;
	width: 1900px;
	background: red;

} */
.project .con .head .title{
	margin-top: 0; 
	margin-bottom: 0; 
	color: #000000; 
	text-align: center;
}
.project .head .subtitle{
	margin-top: 0; 
	color: #999999;
	text-align: center;
}
.project .head .desc{
	margin-top: 0; 
	color: #999999;
	text-align: center;
}
.project .among{
	height: 91px;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.project .among ul{
	height: 31px;
	width: 30%;
	margin-top: 30px;
	position: absolute;
	top:0;
	left: 35%;
	display: flex;
	justify-content: center;
}
.project .among ul li{
	border: 1px solid #999;
	margin-right: 8px;
	padding: 6.5px 30px;
}
.project .among ul li a{
	text-decoration: none;
	color: #000;
}
.project .among li a p{
	height: 18px;
	width: 30px;
	margin: 0;
	font-size: 13px;
}
.project .among li:hover{
	background: #000;
	border: 1px solid #000;
}
.project .among li:hover p{
	color: #fff;
}
.project .con .list ul li img{
	height: 100%;
	width: 100%;
	/* width: 1300px; */
}
.project .con .list ul li h4{
	margin:0;
	padding-top: 20px;
	padding-bottom:30px;
	padding-right:20px;
	border-bottom:1px solid #efefef;
	font-size: 400;
}
.project .con .list ul li:hover h4{
	border-bottom:1px solid #000;
}
.project .list ul .list-one,.list-two{
	display: none;
}
.project .list ul li a{
	text-decoration: none;
	color: #000;
}
.project .list ul li .cover{
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
	left: 15px;
	transition: height .5s;
	display: none;
}
.project .list ul li:hover .cover{
	height: calc(100% - 70px);
	width:calc(100% - 30px); 
	display: flex;
	justify-content: center;
	align-items: center;
}
.project .list ul li .cover img{
	height: 30px;
	width: 30px;
}
.project .btn{
	display: flex;
	justify-content: center;
}
.project .btn .leftbtn{
	padding: 6px 18px;
	border: 1px solid #999;
	margin-right: 15px;
	margin-top:50px;
}
.project .btn .leftbtn img{
	height: 20px;
	width: 20px;
}
.project .btn .rightbtn{
	padding: 6px 18px;
	border: 1px solid #999;
	margin-top:50px;
}
.project .btn .rightbtn img{
	height: 20px;
	width: 20px;
}
.project .btn .more{
	padding: 1.8px 40px;
	border:1px solid #999;
	margin-right: 15px;
	margin-top:50px;
	display: flex;
	align-items: center;
}
.project .btn a{
	text-decoration: none;
	color: #999;
}
.project .btn .more:hover{
	background:#000;
	border: 1px solid #000;
}
.project .btn .more:hover a{
	color: #fff;
}
.project .btn .leftbtn:hover{
	background:#000;
	border: 1px solid #000;
}
.project .btn .leftbtn:hover a{
	color: #fff;
}
.project .btn .rightbtn:hover{
	background:#000;
	border: 1px solid #000;
}
.project .btn .rightbtn:hover a{
	color: #fff;
}
.project .among .list{
	background: red;
	width: 630px;
}
/* .project .projectbox{
	background: red;
	width:1204px;
	height:  401px;
} */
/* .project .list{
	background: green;
	width: 1389px;
}
 */


/*项目案例结束*/


/* 公司简介开始 */
.about{
	height: 100%;
	width: 100%;
	background: #F5F5F5;
	/* background: green; */
	padding: 50px;
}

.about .container .con{
	height: 100%;
	width: 100%;
	background:red;
}
.about .container a{
	text-decoration: none;
	color: #999;
}
.about .con .about-img img{
	width: 100%;
	padding-bottom: 20px;
	display: inline;
}
.about .con .about-content .head h2{
	text-align: center;
	margin:0;
}
.about .con .about-content .head p{
	text-align: center;
	color: #999;
}
.about .con .text span{
	color: #999;
	font-size: 13px; 
	margin-top: 30px;
}
.about .con .text .btn{
	border:  1px solid #999; 
	margin-top: 40px; 
	padding: 6px 50px;
}
.about .con .text .btn a{
	text-decoration: none;
	color: #999;
}
.about .con .text .btn:hover{
	background: #000;
}
.about .con .text .btn:hover a{
	color: #fff;
}


/* 公司简介结束 */


/* 人物简介开始 */
.team{
	padding:70px;
	position: relative;
}
.team .team.bg{
	width: 100%; 
	height: 100%;
	position: absolute; 
	left: 0; 
	top: 0; 
	background-image: url(../img/team.jpg);
	background-size: cover;
	background-position: center;
}
.team ul li img{
	width: 100%;
}
.team ul li .content{
	width: calc(100% - 30px);
	position: absolute;
	left:15px;
	bottom: 0;
	background: #fff;
}
.team ul li .content .title{
	font-size: 20px;
	color: #000;
	margin:30px 30px 10px;
}
.team ul li .content .keywords{
	color: #999;
	font-size: 14px;
	margin:15px 30px 10px;
}
.team ul li .content .desc{
	font-size: 13px;
	color: #999;
	max-height: 6em;
	overflow: hidden;
	margin:15px 30px 10px;

}
.team ul li .content .more{
	display: block;
	height: 34px;
	background: #fff;
	line-height: 34px;
	border: 1px solid #999;
	font-size: 12px;
	text-align: center;
	margin:30px 30px 15px;

}
.team ul li .content .more:hover{
	border: 1px solid #000;
	background: #000;
	text-decoration: none;
}
.team ul li .content .more:hover span{
	color: #fff;
}
.team ul .team1,.team2{
	display: none;
}
.team ul .box1{
	height: 484px;
	overflow: hidden;
}

/* 人物简介结束 */





/*资讯中心开始*/
.News{
	padding:50px 70px;
	background: #fff;
}
.News .container .con{
	height: 100%;
	width: 100%;
}
.News .con ul li a{
	text-decoration: none;
} 
.News .con .head .title{
	margin-top: 0; 
	margin-bottom: 0; 
	color: #000000; 
	text-align: center;
}
.News .con .head .subtitle{
	margin-top: 0; 
	color: #999999;
	text-align: center;
}
.News .con .head .desc{
	margin-top: 0; 
	color: #999999;
	text-align: center;
}


.News .con ul li {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}
.News .con ul li .left{
	float: left;
}
.News .con ul li .left .img1 img{
	height: 75px;
	width: 100px;
}

.News .con ul li .right{
	float: left;
	margin-left: 16px;
}
.News .con ul li .right span{
	display: block;
	font-weight: 300;
	height: 30px;
	color: #999;
	font-size: 16px;
	line-height: 30px;
	text-align: left;
}
.News .con ul li .right:hover h4{
	border-bottom: 1px solid #000;
}
.News .con ul li  h4{
	margin:0;
	border-bottom: 1px solid #efefef;
	font-size: 16px;
	display: block;
	padding-bottom: 20px;
}
.News .con ul li .right h4 a{
	text-decoration: none;
	color: #000;
}
.News .con ul li .right p{
	color: #999;
	font-size: 13px;
	height: 38px;
	margin-top: 10px;
}


.News .con .button a{
	text-decoration: none;
	color: #999;
}
.News .con .button{
	text-align: center;
	border: 1px solid #999;
	height: 40px;
	width: 160px;
	margin:0 auto;
	line-height: 40px;
	/*padding:6px 50px;*/
}
.News .con .button:hover{
	background: #000;
	border: 1px solid #000;
}
.News .con .button:hover a{
	color:#fff;
}


/*资讯中心结束*/






/*底部开始*/
footer .top{
	height: 72px;
	width: 100%;
	background: #f5f5f5;
}
footer .top .container .con{
	height: 100%;
	width: 100%;
	border-top:1px solid #ededed;
	border-bottom: 1px solid #ededed;
}
footer .top .container ul{
	width: 100%;
	height: 40px;
	margin-top: 10px;
	display: flex;
	justify-content: center;
}
footer .top .container ul li{
	height: 40px;
	width: 120px;
	margin-right: 2px;
}
footer .top .container ul .one{
	height: 25px;
	width: 72px;
	margin-top: 7.5px;
	color: #000;
	font-size: 16px;
}
footer .top .container ul li i{
	height: 6px;
	width: 22px;
}
footer .top .container ul li img{
	height: 40px;
	width: 100px;
}
footer .bottom{
	height: 114px;
	width: 100%;
	background: #f5f5f5;
}
footer .bottom .container .con{
	height: 100%;
	width: 100%;
}
footer .bottom .con .title{
	height: 74px;
	width: 100%;
	margin-top:15px;
	margin-bottom: 15px;
}
footer .bottom .con .title p{
	text-align: center;
	color: #000;
	font-size: 14px;
	margin-bottom: 0;
	margin-top: 5px;
}
footer .bottom .con .title .word{
	color: #aaa;
} 


/*底部结束*/

/* 返回 */
.back{
	height: 36px;
	width: 36px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 10;
	background: #333;
	border: 1px solid #333;
	color: #fff;
	cursor: pointer;
}
.back .top{
	text-align: center;
	line-height: 30px;
	font-size: 22px;
}




@media screen and (min-width: 768px){
	nav .con .list{
		display: inline;
	}
	nav .button{
		display: none;
	}
	.banner .box{
		display: inline;
	}
	.server ul .list1{
		display: inline;
	}
	
	.about{
		padding: 60px 60px;
	}
	.about .con .about-content .head p{
		text-align: left;
	}
	.project{
		/* padding: 30px 15px; */
	}
	.project .list ul .list-one{
		display: inline;
	}
	.team ul .team1{
		display: inline;
	}

	.News .con ul li .right p{
		display: -webkit-box;
		-webkit-line-clamp:2;
		-webkit-box-orient:vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.News .con ul li .right h4 a{
		display: -webkit-box;
		-webkit-line-clamp:1;
		-webkit-box-orient:vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

}

@media screen and (min-width: 992px){
	.server ul .list2{
		display: inline;
	}
	
	.about{
		padding: 60px 60px;
	}
	.about .con .about-content .head h2{
		text-align: left;
	}
	.about .con .about-content .head p{
		text-align: left;
	}
	.project .list ul .list-one,.list-two{
		display: inline;
	}
	.News .con ul li .left .img1 img{
		height: 100px;
		width: 160px;
	}
	.team ul .team2{
		display: inline;
	}
	.team ul li .content .desc{
		display: -webkit-box;
		-webkit-line-clamp:4;
		-webkit-box-orient:vertical;
		overflow: hidden;
	}
}

@media screen and (min-width: 1200px){
	
}